.venv
.dockerignore
.editorconfig
.env
.env-sample
.git
.github
.gitignore
.pre-commit-config.yaml
.pytest_cache
.python-version
.vscode
.ipython
.cache
Makefile
README.md
docker
docker-compose.yml
requirements-dev.in
requirements.in
test-result.xml
frontend
media
